* {
    margin: 0px;
    font-family: roboto, sans-serif;
}

.header-logo {
    width: 125px;
    height: auto;
}

.hero-pic {
    width: 500px;
    height: auto;
}

.placeholder {
    width: 100px;
    height: 100px;
}

body .first-level-padding {
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    padding-top: 10px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-section {
    background-color: #1F2937
}