* {
    margin: 0px;
}

.header-logo {
    width: 75px;
    height: auto;
}

.hero-pic {
    width: 500px;
    height: auto;
}

.placeholder {
    width: 100px;
    height: 100px;
}

.header {
    background-color: #1F2937;
}